<div>
    <div
        style="
            width:100%;
            display:flex;
            flex-direction:row;
            flex-wrap: wrap;
            align-items: center;
            margin-top:1rem;
        "
    >


        <div style="
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            margin-bottom: 1rem;
            width: 136px;
            height: 162px;
        ">
            <div style="
            width:100px;
            height:100px;
            border-radius:50%;
            margin-bottom:1rem;
            overflow:hidden;
            ">
                <a href="http://cpeartree.com" target="_blank"><img src="images\christopher.jpg" width="400" height="400" style="width:100px;height:100px;"></a>
            </div>
            <a href="http://cpeartree.com" target="_blank" style="text-align: center;">Christopher Poirier</a>
            <h4>UI/UX Designer</h4>
        </div>


        <div style="
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            margin-bottom: 1rem;
            width: 136px;
            height: 162px;
        ">
            <div style="
            width:100px;
            height:100px;
            border-radius:50%;
            margin-bottom:1rem;
            overflow:hidden;
            ">
                <a href="https://kayla-tran.design/" target="_blank"><img src="images\kayla.jpg" width="400" height="400" style="width:100px;height:100px;"></a>
            </div>
            <a href="https://kayla-tran.design/" target="_blank" style="text-align: center;">Kayla Tran</a>
            <h4>Designer</h4>
        </div>


        <div style="
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            margin-bottom: 1rem;
            width: 136px;
            height: 162px;
        ">
            <div style="
            width:100px;
            height:100px;
            border-radius:50%;
            margin-bottom:1rem;
            overflow:hidden;
            ">
                <a href="https://marlowecheng.com" target="_blank"><img src="images\marlowe.jpg" width="400" height="400" style="width:100px;height:100px;"></a>
            </div>
            <a href="https://marlowecheng.com" target="_blank" style="text-align: center;">Marlowe Cheng</a>
            <h4>Developer</h4>
        </div>


        <div style="
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            margin-bottom: 1rem;
            width: 136px;
            height: 162px;
        ">
            <div style="
            width:100px;
            height:100px;
            border-radius:50%;
            margin-bottom:1rem;
            overflow:hidden;
            ">
                <a href="https://amanna.ca" target="_blank"><img src="images\amanna.jpg" width="400" height="400" style="width:100px;height:100px;"></a>
            </div>
            <a href="https://amanna.ca" target="_blank" style="text-align: center;">Amanna Wong</a>
            <h4>Developer</h4>
        </div>





    </div>
</div>