<div>
    <div
        style="
            width:100%;
            display:flex;
            flex-direction:row;
            justify-content:space-around;
            margin-top:1rem;
        "
        >
        <div style="
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
        ">
            <div style="
            width:100px;
            height:100px;
            border-radius:50%;
            margin-bottom:1rem;
            overflow:hidden;
            ">
                <a href="http://renzrick.com" target="_blank"><img src="images\renzrick.jpg" width="400" height="400" style="width:100px;height:100px;"></a>
            </div>
            <a href="http://renzrick.com" target="_blank">Renzrick Endaya</a>
            <h4>Designer</h4>
        </div>
        <div style="
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
        ">
            <div style="
            width:100px;
            height:100px;
            border-radius:50%;
            margin-bottom:1rem;
            overflow:hidden;
            ">
                <a href="http://jjlicerio.com" target="_blank"><img src="images\joshwel.jpg" width="400" height="400" style="width:100px;height:100px;"></a>
            </div>
            <a href="http://jjlicerio.com" target="_blank">Joshwel Licerio</a>
            <h4>Designer</h4>
        </div>
        <div style="
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
        ">
            <div style="
            width:100px;
            height:100px;
            border-radius:50%;
            margin-bottom:1rem;
            overflow:hidden;
            ">
                <a href="http://sharifcktsang.com" target="_blank"><img src="images\sharif.jpg" width="400" height="400" style="width:100px;height:100px;"></a>
            </div>
            <a href="http://sharifcktsang.com" target="_blank">Sharif Tsang</a>
            <h4>Developer</h4>
        </div>
        <div style="
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
        ">
            <div style="
            width:100px;
            height:100px;
            border-radius:50%;
            margin-bottom:1rem;
            overflow:hidden;
            ">
                <a href="http://cpeartree.com" target="_blank"><img src="images\sharif.jpg" width="400" height="400" style="width:100px;height:100px;"></a>
            </div>
            <a href="http://cpeartree.com" target="_blank">Christopher Poirier</a>
            <h4>QA Team Leader</h4>
        </div>
    </div>
</div>