/* utility classes */

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--column-gap);
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-middle {
    align-items: center;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    justify-content: end;
}

.flex-grow {
    flex-grow: 1;
}

.highlight-txt {
    color: var(--orange);
    font-weight: 700;
}

.overflow {
    overflow: hidden;
}

.headroom {
    margin-top: 8rem;
}

.breadcrumb {
    font-size: .5rem;
    font-weight: 200;
    text-decoration: none;
}

.blur {
    background: var(--oil-trns);
    -webkit-backdrop-filter: blur(0.75rem);
    backdrop-filter: blur(0.75rem);
}

.static {
    position: static !important;
}

.hide {
    display: none !important;
}

.block {
    display: block;
}

.is-orange {
    color: var(--orange);
}

.indent {
    margin-left: 1rem;
}

.hide-mobile {
    display: none;
}

.height-mobile {
    height: fit-content;
}

.smooth-scroll {
    scroll-behavior: smooth;
}

.dummy {
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

@media (min-width:768px) {
    .grid {
        margin: 0 1rem;
    }
    
    .hide-mobile {
        display: unset;
    }

    .height-mobile {
        height: inherit;
    }
}
