@import url(partials/artifact.css);

.artifact__sources li a {
    list-style: none;
}

.artifact__sources {
    display: flex;
    flex-direction: column;
}

#pic6 {
    display: none;
}

@media screen and (min-width:768px) {

    .artifact__sources {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        line-height: 1.5;
        margin: 0;
    }
    
}