@import url('partials/home.css');
@import url('partials/about.css');
@import url('partials/discipline.css');
@import url('partials/artifact.css');
@import url('partials/animations.css');

@import url('partials/global/variables.css');
@import url('partials/global/utils.css');
@import url('partials/global/type.css');
@import url('partials/global/header.css');
@import url('partials/global/button.css');
@import url('partials/global/burger.css');
@import url('partials/global/footer.css');

/* global styles */

body {
    color: var(--eggshell);
    /* background: url(../images/ss-hero1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100vh; */
    background-color: var(--oil);
    font-family: var(--body-font);
    display: grid;
    grid-template-rows: 5rem 1fr;
    height: 100%;
    max-width: 100%;
}

body::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--grad-shadelight);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    opacity: 0.25;
}

/* ////////////////// LOADER ///////////////////// */

.loader {
    position: absolute;
    background-color: var(--midnight);
    width: 100%;
    height: 100%;
    z-index: 10000001;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-anim {
    border: 14px solid var(--eggshell50);
    border-top: 16px solid var(--orange);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: slideUp 2s linear infinite;
}

@keyframes slideUp {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* header styles */

header {
    grid-row: 1 / span 1;
}

.section__title h1 {
    font-size: 2rem;
}

/* section styles */

main {
    grid-row: 2 / span 1;
    z-index: 2;
}

#overflow-container {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 5rem;
    justify-content: flex-end;
    scrollbar-width: 0px;
    justify-content: center;
}

#smooth-content {
    min-height: 100%;
}

#page-container {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    min-height: 100%;
}

.full-width {
    width: 100%;
    padding-bottom: 18rem;
}

#footer {
    position: absolute;
    background-color: var(--oil);
    bottom: 0;
    width: 100%;
    height: 18rem;
}

.section {
    min-height: 100vh;
}

footer {
    z-index: 2;
}

.stop-scrolling {
    overflow: hidden;
}

.blackout {
    background-color: var(--oil-trns2);
    -webkit-backdrop-filter: blur(0.0625rem);
    backdrop-filter: blur(0.25rem);
    /* width: 100%; */
    height: 100vh;
    position: fixed;
    z-index: 15;
    display: none;
}

/* parallax */

.parallax-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.gradient {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(150,41,153,1) 3%, rgba(252,115,3,1) 42%, rgba(252,115,3,1) 57%,rgba(150,41,153,1) 97%);
    opacity: 0.35;
    mix-blend-mode: multiply;
    backdrop-filter: blur(0.5);
}

#layer1 {
    position: absolute;
    width: 100%;
    height: 105%;
    background-image: url(../images/ss-hero1-parallax_1O.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    top: -35px;
}

#layer2a {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/ss-hero1-parallax_2aO.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    top: 0px;
}

#layer2b {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/ss-hero1-parallax_2bO.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    top: 0px;
}

#layer3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/ss-hero1-parallax_3O.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    top: -15px;
}

/* page nav button */

#nav-button {
    display: none;
    width: 5rem;
    height: 5rem;
    margin: 2rem;
    bottom: 10vh;
    z-index: 15;
    background-color: var(--eggshell);
    clip-path: polygon(50% 83%, 0 33%, 100% 33%);
    animation: buttonPulse 1.5s ease-in-out 0s infinite alternate;
    transition: all 1s ease-in-out;
}

#nav-button:hover {
    animation: buttonPulseHov 1.5s ease-in-out 0s infinite alternate;
}

@keyframes buttonPulse {
    0% {opacity: 0.2;}
    100% {opacity:0.35;}
}

@keyframes buttonPulseHov {
    0% {opacity: 0.3;}
    100% {opacity:0.45;}
}

/* media queries */

@media screen and (min-width:370px) {

    #footer {
        height: 22rem;
    }

    .full-width {
        padding-bottom: 22rem;
    }
}

@media screen and (min-width:481px) {

    .section__title h1 {
        font-size: 3rem;
    }

    body {
        background-size: cover;
    }
    
}

@media screen and (min-width:768px) {

    #overflow-container {
        justify-content: flex-end;
    }

    .section__title h1 {
        font-size: 4rem;
    }

    #content-wrap {
        display: flex;
        min-width: 685px;
        min-height: 1150px;
    }

    #footer {
        height: 16rem;
    }

    .full-width {
        padding-bottom: 16rem;
    }

    #nav-button {
        display: block;
        bottom: 20vh;
    }
}

@media screen and (min-width:1200px) {

    ::-webkit-scrollbar {
        display: none;
        position: absolute;
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        display: none;
        position: absolute;
        background: rgba(241, 241, 241, 0.25);
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        display: none;
        position: absolute;
        background: var(--orange25);
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        display: none;
        position: absolute;
        background: var(--orange50);
      }

    #content-wrap {
        min-width: 1025px;
    }  
}