@import url('partials/home.css');
@import url('partials/about.css');
@import url('partials/discipline.css');
@import url('partials/artifact.css');

@import url('partials/global/variables.css');
@import url('partials/global/utils.css');
@import url('partials/global/type.css');
@import url('partials/global/header.css');
@import url('partials/global/button.css');
@import url('partials/global/burger.css');
@import url('partials/global/footer.css');
@import url('partials/global/animation.css');

/* global styles */

html, body {
    min-height: 100%;
}

body {
    color: var(--eggshell);
    background: url(../images/ss-hero1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100vh;
    font-family: var(--body-font);
    display: grid;
    grid-template-rows: 5rem 1fr;
    height: 100%;
    max-width: 100%;
}

body::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--grad-shadelight);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    opacity: 0.25;
}

/* ////////////////// LOADER ///////////////////// */

.loader {
    position: absolute;
    background-color: var(--midnight);
    width: 100%;
    height: 100%;
    z-index: 10000001;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-anim {
    border: 16px solid var(--eggshell50);
    border-top: 16px solid var(--orange);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: slideUp 2s linear infinite;
}

@keyframes slideUp {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* header styles */


header {
    grid-row: 1 / span 1;
}

.section__title h1 {
    font-size: 2rem;
}

/* section styles */

main {
    grid-row: 2 / span 1;
    z-index: 2;
}

.overflow-container {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
}

#smooth-content {
    min-height: 100%;
}

#page-container {
    position: relative;
    min-height: 100%;
}

#footer {
    background-color: var(--oil);
    bottom: 0;
    width: 100%;
    height: 16rem;
}

.section {
    min-height: 100vh;
}

footer {
    z-index: 2;
}

.stop-scrolling {
    overflow: hidden;
}

.blackout {
    background-color: var(--oil-trns2);
    -webkit-backdrop-filter: blur(0.0625rem);
    backdrop-filter: blur(0.25rem);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 15;
    display: none;
}

/* media queries */

@media screen and (min-width:370px) {

    #footer {
        height: 20rem;
    }
    
}

@media screen and (min-width:481px) {

    .section__title h1 {
        font-size: 4rem;
    }

    body {
        background-size: cover;
    }
    
}

@media screen and (min-width:768px) {
    .section__title h1 {
        font-size: 4rem;
    }

    #content-wrap {
        display: flex;
        min-width: 685px;
        min-height: 1150px;
    }

    #footer {
        height: 16rem;
    }
}

@media screen and (min-width:1200px) {

    ::-webkit-scrollbar {
        display: none;
        position: absolute;
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        display: none;
        position: absolute;
        background: rgba(241, 241, 241, 0.25);
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        display: none;
        position: absolute;
        background: var(--orange25);
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        display: none;
        position: absolute;
        background: var(--orange50);
      }

    #content-wrap {
        min-width: 1025px;
    }
    
}

