/* Artifact Styles */

.artifact {
    margin: 1rem;
}

.artifact__heading {
    justify-content: center;
    margin: 1rem;
}

#specs {
    margin: 0 0 1rem 0;
    line-height: 1.75;
}

#specs li {
    list-style: none;
}

.artifact__specs {
    width: 16rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background: var(--oil-trns);
    -webkit-backdrop-filter: blur(0.75rem);
    backdrop-filter: blur(0.75rem);
    box-shadow: 0.25rem 0.25rem 0.75rem var(--oil-trns);
    overflow: hidden;
}

.specs-wrapper {
    margin-left: 4rem;
    margin: 1rem;
}

#image {
    display: flex;
    flex-direction: column;
    background-color: var(--eggshell);
    position: relative;
    overflow: hidden;
    height: 10rem;
    width: 100%;
}

#image img {
    height: auto;
    transform: translateY(-6rem);
    
}

#image a {
    height: 3.75rem;
    width: 100%;
    order: -1;
    z-index: 5;
}

#image a button {
    border-radius: unset;
}

#skills{
    margin-top: 1rem;
}

.artifact__narrative {
    width: 13rem;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.75rem var(--oil-trns);
    margin: 0.5rem 0;
}

.artifact__specs ul {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

.artifact__specs h3 {
    font-size: 1rem;
}

.artifact__narrative #tech {
    flex-direction: column;
}

.artifact__narrative h3 {
    font-size: 1.25rem;
    line-height: 1;
    margin-bottom: 1rem;

}

.artifact__narrative li {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 300;
    list-style: disc;
    margin-bottom: 4px;
}

.artifact__sources {
    margin: 1rem 0;
}

.list-container {
    flex-direction: column;
    margin-top: 1rem;
}

.artifact__sources li {
    text-decoration: none;
    list-style: none;
}

.artifact__sources li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--eggshell);
    transition: color 0.5s;
}

.artifact__sources li a:hover {
    color: var(--orange);
}

.artifact__image {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 1rem 0;
}

.artifact__image img {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.75rem var(--oil-trns);
}

.artifact__cta {
    margin-top: 1rem;
    justify-content: center;
}

.artifact__cta a {
    width: 100%;
}

.art-anim {
    position: relative;
    opacity: 0;
}

@media screen and (min-width:370px) {

    .artifact__image {
        width: 20rem;
    }

    .artifact__narrative {
        width: 17rem;
    }
    
}

@media screen and (min-width:768px) {
    
    .artifact__heading {
        width: unset;
        display: inherit;
        justify-content: unset;
        align-self: flex-start;
    }

    .artifact__specs {
        width: unset;
        height: 13rem;
        display: grid;
        grid-template-columns: 1fr 2rem 1fr;
        background: unset;
        -webkit-backdrop-filter: unset;
        backdrop-filter: unset;
        box-shadow: unset;
        padding-bottom: 1rem;
        overflow: unset;
    }

    .specs-wrapper {
        grid-column: 3 / span 1;
        height: 10rem;
        display: flex;
        flex-direction: row;
        border-radius: 0.5rem;
        background: var(--oil-trns);
        -webkit-backdrop-filter: blur(0.75rem);
        backdrop-filter: blur(0.75rem);
        box-shadow: 0.25rem 0.25rem 0.75rem var(--oil-trns);
        padding: 1.5rem;
        margin: unset;
    }

    #image {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        border-radius: 0.5rem;
        overflow: hidden;
        height: 13rem;
        box-shadow: 0.25rem 0.25rem 0.75rem var(--oil-trns);
    }

    #image a {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    #skills{
        margin-left: 2rem;
        margin-top: 0;
    }

    #tech {
        width: 13rem;
    }

    #nar1 {
        margin: 0 1rem 1rem 1rem;
    }

    .overflow-container {
        height: 88%;
    }

    .artifact {
        max-width: 66rem;
        margin: auto !important;
        display: grid !important;
        grid-template-columns: repeat(12, 1fr);
        align-items: start;
    }

    .artifact__narrative {
        width: unset;
        margin: 1rem;
    }

    .artifact__narrative ul {
        flex-direction: row;
    }

    .artifact__image {
        width: unset;
        padding: 1rem; 
    }

    .artifact__image img {
        margin: auto;
        border-radius: 0.5rem;
    }

    .artifact__cta a {
        width: 15rem;
        margin: 1rem 0;
    }

    #specs {
        grid-column: 1 / span 12;
        grid-row: 1 / span 1;
        margin: 1rem;
    }

    .artifact__narrative {
        flex-direction: row;
        padding: 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 0.25rem 0.25rem 0.75rem var(--oil-trns);
        align-self: center;
    }
    
    .artifact__narrative ul {
        margin-right: 2rem;
        line-height: 1.75;
        flex-direction: column;
    }
    
    .artifact__narrative li {
        font-size: 0.8rem;
        font-weight: 300;
        list-style: disc;
    }

    .artifact__sources {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        line-height: 1.5;
        margin: 0;
    }

    .artifact__sources li {
        list-style: none;
    }

    .list-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .list-container ul {
        display: block;
    }

    #nar1 {
        grid-column: 1 / span 12;
        grid-row: 2 / span 1;
    }

    #pic1 {
        grid-column: 7 / span 6;
        grid-row: 3 / span 1;
    }

    #pic2 {
        grid-column: 1 / span 6;
        grid-row: 4 / span 1;
    }

    #nar2 {
        grid-column: 1 / span 6;
        grid-row: 3 / span 1;
    }

    #nar3 {
        grid-column: 7 / span 6;
        grid-row: 4 / span 1;
    }

    #pic3 {
        grid-column: 7 / span 6;
        grid-row: 5 / span 1;
    }

    #pic4 {
        grid-column: 1 / span 6;
        grid-row: 6 / span 1;
    }

    #nar4 {
        grid-column: 1 / span 6;
        grid-row: 5 / span 1;
    }

    #nar5 {
        grid-column: 7 / span 6;
        grid-row: 6 / span 1;
    }

    #pic5 {
        margin: auto;
        grid-column: 1 / span 12;
        grid-row: 7 / span 1;
    }

    #nar6 {
        grid-column: 1 / span 12;
        grid-row: 8 / span 1;
    }

    .artifact__cta {
        grid-column: 1 / span 12;
        grid-row: 9 / span 1;
    }

    #footer {
        height: 17rem;
    }
    
}

@media screen and (min-width:992px) {

    /* .overflow-container {
        height: 80%;
    } */

    /* #tech {
        width: 27%;
    } */
    
}

@media screen and (min-height:810px) {

    .overflow-container {
        height: 88%;
    }
    
}

@media screen and (min-width:1056px) {

    .artifact__heading {
        align-items: center;
        align-self: unset;
    }
    
}

