@import url(global/card.css);

/* Discipline Styles */

.disc-section__title {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.title-container {
    width: 19rem;
}

.card-wrap {
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.section {
    position: relative;
}

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-width {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:768px) {

    .disc-card__container {
        width: 42rem;
    }

    .title-container {
        width: 40rem;
    }

    .card-wrap {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
    }
}

@media screen and (min-width:1024px) {

    .disc-card__container {
        width: 64rem;
    }

    .disc-section__title {
        display: flex;
        justify-content: center;
    }

    .title-container {
        width: 62rem;
    }

}
