@import url(global/card.css);

/* Discipline Styles */

.disc-section__title {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.title-container {
    width: 95vw;
}

.disc-card__container {
    flex-direction: column;
    width: 100vw;
}

.section {
    position: relative;
}

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-width {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:768px) {

    .disc-section__title {
        justify-content: left;
    }

    .disc-card__container {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 64rem;
        min-height: 48rem;
        align-items: flex-start;
    }
}

@media screen and (min-width:1024px) {

    .disc-section__title {
        display: flex;
        justify-content: center;
    }

    .title-container {
        width: 1000px;
    }

}

@media screen and (min-width:1200px) {

    .disc-card__container {
        width: 64rem;
    }
    
}