@import url(global/card.css);

/* home styles */

.site-header__logo, .site-header__message {
    display: none;
}

.site-header__menu li #home {
    color: var(--orange);
}

.sec-1 {
    height:100vh;
    align-items: center;
    justify-content: center;
}

.sec-2 {
    height:100vh;
    justify-content: center;
}

.home-banner {
    margin-bottom: 10rem;
    z-index: 10;
    width: 100%;
    padding: 1rem 0;
}

.home-banner__logo {
    justify-content: center;
}

.home-banner__logo img{
    width: 4rem;
}

.home-banner__message {
    order: 1;
    margin-top: 1rem;
}

.home-banner__message h2 {
    font-weight: 400;
}

.home-banner__profile-picture {
    order: 2;
    justify-content: center;
}

.home-banner__profile-picture img {
    width: 7rem;
    border-radius: 50%;
    box-shadow: 0px 0px 3px var(--oil);
    margin-top: 4rem;
}

.home-banner__cta {
    margin-top: 2rem;
    justify-content: center;
}

.home-intro__message {
    display: grid;
    grid-template-columns: 1rem 6rem 1fr 1rem;
    grid-template-rows: 1fr 6rem 24rem 10rem 1fr;
}

.home-intro__message img {
    border-radius: 50%;
    filter: saturate(0);
    box-shadow: 0 0 3px var(--oil);
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    width: 4rem;
    margin: 1rem;
    margin-top: 2rem;
}

.home-intro__message h2 {
    font-size: 0.75rem;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    margin-top: 2rem;
}

.my-name {
    color: var(--orange);
}

.home-intro__bg {
    grid-column: 1 / span 4;
    grid-row: 2 / span 3;
    z-index: -10;
}

.home-intro__text-box {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
    z-index: 12;
    padding: 0;
    margin: 1rem;
    margin-top: 2.5rem;
}

.home-intro__text-box p {
    font-size: 1.25rem;
}

.home-intro__message .home-banner__cta {
    margin-top: 0;
    grid-column: 2 / span 2;
    grid-row: 4 / span 1;
    align-items: center;
}

.home-intro__message .btn-1 {
    margin: 1rem;
}

.sec-3 {
    justify-content: center;
    min-height: 70%;
}

.home-card__container {
    max-width: 40rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
}

/* card styles */

.home-card__container {
    height: 100%;
    margin-top: 1rem;
    flex-direction: column;
    z-index: 10;
}

.home-card__heading {
    align-items: center;
}

/* media queries */

@media screen and (min-width:370px) {

    .home-intro__hello {
        justify-self: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 35rem;
        margin: auto;
        padding: 0 2rem;
    }

    .home-intro__hello img {
        width: 4rem;
    }
    
    .home-intro__hello-content {
        max-width: 22rem;
    }

    .home-intro__hello h2 {
        font-size: 1rem;
    }
}

@media screen and (min-width:768px) {
    
    .sec-1 {
        min-height: 100%;
    }

    .home-banner {
        width: auto;
        padding: 4rem;
        border-radius: 50%;
    }

    .home-intro__message {
        grid-template-columns: 1fr 10rem 40rem 1fr;
        grid-template-rows: 1fr 10rem 24rem 10rem 1fr;
    }

    .home-intro__message img {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        width: 8rem;
        margin: 1rem;
        margin-top: 2rem;
    }

    .home-intro__message h2 {
        font-size: 2rem;
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        margin: 1rem;
        margin-top: 2rem;
    }

    .home-intro__bg {
        grid-column: 1 / span 4;
        grid-row: 2 / span 3;
    }

    .home-intro__text-box {
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
        z-index: 12;
        padding: 0;
        margin: 1rem;
        margin-top: 2.5rem;
    }

    .home-intro__text-box p {
        font-size: 1.65rem;
    }

    .home-intro__message .home-banner__cta {
        margin-top: 0;
        grid-column: 3 / span 1;
        grid-row: 4 / span 1;

    }

    .home-intro__message .btn-1 {
        margin: 1rem;
    }

    .sec-3 {
        justify-content: center;
        min-height: 70%;
    }

    .home-card__container {
        max-width: 40rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem auto;
    }
}

@media screen and (min-width:992px) {

    .sec-1 {
        min-height: 100vh;
    }

    .sec-3 {
        min-height: 50vh;
    }
    
}

@media screen and (min-width:1200px) {

    .home-card__heading {
        width: 34rem;
        margin: auto;
    }
}

