@import url(global/card.css);

/* home styles */

.site-header__logo, .site-header__message {
    display: none;
}

.site-header__menu li #home {
    color: var(--orange);
}

.sec-1 {
    flex-direction: column;
    height:100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.sec-2 {
    justify-content: center;
    align-items: center;
    height:100vh;
}

.home-banner { 
    margin: 2rem 0 10rem 0;
    z-index: 10;
    width: 100vw;
    padding: 2rem 0;
    transform: scale(1);
    background: var(--oil-trns);
    -webkit-backdrop-filter: blur(0.75rem);
    backdrop-filter: blur(0.75rem);
}

.home-banner__logo {
    justify-content: center;
}

.home-banner__logo img{
    width: 3rem;
}

.home-banner__message {
    order: 1;
    margin-top: 0.75rem;
}

.home-banner__message h2 {
    font-weight: 400;
}

.home-banner__profile-picture {
    order: 2;
    justify-content: center;
}

.home-banner__profile-picture img {
    width: 6.25rem;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 3px var(--oil);
    margin-top: 2rem;
}

.home-banner__cta {
    margin-top: 1.5rem;
    justify-content: center;
}

.home-banner__cta a {
    width: 15rem;
}

.home-banner__cta .btn-1 {
    margin: 0;
}

.home-banner__arrow {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

.message-anim-wrapper {
    overflow: hidden;
    opacity: 0;
}

.home-intro__message {
    position: relative;
    width: 100vw;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1.5rem 5rem 1fr 1.5rem;
    grid-template-rows: 1rem 6rem 1fr 6rem 4rem;
    opacity: 0;
    margin: 6vh 0 0;
    z-index: 11;
}

.home-intro__message img {
    display: none;
    border-radius: 50%;
    filter: saturate(0);
    box-shadow: 0 0 3px var(--oil);
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    width: 4rem;
    margin-top: 2rem;
}

.home-intro__message h2 {
    font-size: 0.75rem;
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    margin-top: 2rem;
    max-width: 20rem;
}

.home-intro__text-box a {
    font-weight: 700;
    transition: all 500ms ease-in-out;
}

.home-intro__text-box a:hover {
    color: var(--orange);
}

.my-name {
    color: var(--orange);
}

.home-intro__bg {
    width: 100vw;
    background: var(--oil-trns);
    grid-column: 1 / span 4;
    grid-row: 2 / span 3;
    z-index: -10;
}

.home-intro__text-box {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
    z-index: 12;
    padding: 0;
    margin-top: 1rem;
    /* width: 14rem; */
}

.home-intro__text-box p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.home-intro__message .home-banner__cta {
    margin-top: 0;
    grid-column: 2 / span 2;
    grid-row: 4 / span 1;
    align-items: center;
}

.home-card__container {
    position: relative;
    max-width: 40rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
    z-index: 11;
}

.sec-3 {
    width: 100%;
}

/* card styles */

.home-card__container {
    /* margin: auto auto 20vh auto; */
    flex-direction: column;
    z-index: 10;
}

.home-card__heading {
    align-items: center;
}

.home-card__wrapper {
    position: relative;
    opacity: 0;
}

/* media queries */

@media screen and (min-width:370px) {

    .home-intro__message {
        grid-template-columns: 2rem 5rem 1fr 2rem;
    }

    .home-intro__message .home-banner__cta {
        max-width: 16rem;
    }

    .home-intro__hello {
        justify-self: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 35rem;
        margin: auto;
        padding: 0 2rem;
    }

    .home-intro__hello img {
        width: 4rem;
    }
    
    .home-intro__hello-content {
        max-width: 22rem;
    }

    .home-intro__hello h2 {
        font-size: 1rem;
    }

    .home-intro__text-box {
        max-width: 29rem;
        width: 20rem;
    }
}

@media screen and (min-width:768px) {

    .home-banner {
        width: 25rem;
        height: 24rem;
        padding: 3rem;
        border-radius: 50%;
        box-shadow: 0.25rem 0.25rem 0.75rem var(--oil-trns);
    }

    .home-banner__cta a {
        width: 12rem;
    }

    .home-intro__message {
        grid-template-columns: 1fr 8rem 32rem 1fr;
        grid-template-rows: 1fr 8rem 17rem 8rem 1fr;
    }

    .home-intro__message img {
        display: block;
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        width: 6rem;
        margin: 1rem;
        margin-top: 2rem;
    }

    .home-intro__message h2 {
        font-size: 1.5rem;
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        margin: 1rem;
        margin-top: 2rem;
    }

    .home-intro__bg {
        grid-column: 1 / span 4;
        grid-row: 2 / span 3;
    }

    .home-intro__text-box {
        grid-column: 3 / span 1;
        margin: 1rem;
        margin-top: 2rem;
        width: unset;
    }

    .home-intro__text-box p {
        font-size: 1.25rem;
    }

    .home-intro__message .home-banner__cta {
        margin-top: 0;
        grid-column: 3 / span 1;
        grid-row: 4 / span 1;
        width: 12rem;
    }

    .home-intro__message .btn-1 {
        margin: 1rem;
    }

    .sec-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75vh;
    }

    .home-card__container {
        max-width: 40rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width:1200px) {

    .home-card__heading {
        width: 34rem;
        margin: auto;
    }

    .home-card__container {
        max-width: 72rem;
    }
}

@media screen and (min-width:1400px) {

    .home-intro__message {

        margin: 22vh 0 0;
    }
}

